/* =Reset
 * -------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

/* =Global
 * -------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font: 1.4rem Verdana, Arial, Helvetica, sans-serif;
  color: #555;
}

img {
  border: none;
}

a {
  color: #55198B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** reset tags HTML5. */
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu {
  display:block;
}

/* =Wrapper
 * -------------------------------------------------------------- */

.wrapper {
  width:940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* =Header
 * -------------------------------------------------------------- */

#header-holder {
  padding: 30px 0;
}

#header {
  overflow: hidden;
}

#header h1 a {
  color: #D92534;
  font-size: 2.8rem;
  float: left;
}

#header h1 a:hover {
  text-decoration: none;
}

#header nav {
  float: right;
  font-size: 1.4em;
}


#header nav a {
  color: #555;
  margin-left: 20px;
}

/* =Container
 * -------------------------------------------------------------- */

#container {}

/* =Footer
 * -------------------------------------------------------------- */

#footer-holder {
  background: #5295CF;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#footer-holder a {
  color: #fff;
}

/* =Home
 * -------------------------------------------------------------- */

#home-last-post-holder,
#post-title-holder {
  background: #5295CF;
  margin-bottom: 30px;
}

#home-last-post,
#post-title {
  padding: 150px 0 50px;
  text-align: center;
}

#home-last-post h1,
#post-title h1 {
  margin-bottom: 40px;
}

#home-last-post h1 a,
#post-title h1 a {
  color: #fff;
  font-size: 6.0rem;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

a#home-last-post-read {
  border: 5px solid #fff;
  padding: 10px 40px;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

#home-posts {}

#home-posts article {
  border-bottom: 1px solid #5295CF;
  overflow: hidden;
  margin-bottom: 25px;
  padding-bottom: 35px;
}

#home-posts article a {
  text-decoration: none;
}

#home-posts .home-post-date {
  background: #5295CF;
  float: left;
  width: 120px;
  margin-right: 30px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

#home-posts h1 {
  font-weight: normal;
  font-size: 2.5rem;
  float: left;
  width: 765px;
}

/* =Post
 * -------------------------------------------------------------- */

#post-title h1 {
  margin-bottom: 0;
}

#post {
  margin-bottom: 40px;
}

#post p {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 20px;
}

#post h2 {
  font-size: 2.2rem;
  margin: 30px 0 5px;
}

#post pre {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 1.5rem;
  line-height: 18px;
  margin: 20px 0;
  padding: 8.5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#post code {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px 3px 3px 3px;
  padding: 3px;
}

#post pre code {
  background: none;
  border: 0;
}

blockquote {
  border-left: 5px solid #EEEEEE;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 1.8rem;
}

#post ul,
#post ol {
  font-size: 1.8rem;
  margin: 20px 0 20px 40px;
}

#post li {
  margin-bottom: 10px;
}

#comments {

}

#comments h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
