<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Mauro George</title>
    <meta name="author" content="Mauro George" />
    <meta name="description" content="Mauro George blog sobre desenvolvimento web, PHP, CakePHP, Ruby, Rails, Git e o que mais for aprendendo ligado ao mundo de desenvolvimento de software" />
    <meta name="keywords" content="mauro, george, desenvolvimento, web, php, cakephp, ruby, rails, git" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/styles.css">
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="topbar">
      <div class="fill">
        <div class="container">
          <a href="/" class="brand">Mauro George</a>
          <ul class="nav">
            <li><a href="/">Início</a></li>
            <li><a href="sobre.html">Sobre</a></li>
          </ul>
        </div>
      </div>
    </header>    
    {{ content }}
  </body>
</html>