<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Mauro George</title>
    <meta name="author" content="Mauro George" />
    <meta name="description" content="Mauro George blog sobre desenvolvimento web, PHP, CakePHP, Ruby, Rails, Git e o que mais for aprendendo ligado ao mundo de desenvolvimento de software" />
    <meta name="keywords" content="mauro, george, desenvolvimento, web, php, cakephp, ruby, rails, git" />
  </head>
  <body>
    {{ content }}
  </body>
</html>