<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Groselhas</title>
    <meta name="author" content="Mauro George" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.meta_keywords }}" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Todo o site atom feed" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" media="screen, projection" type="text/css" href="/css/styles.css">
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="topbar">
      <div class="fill">
        <div class="container">
          <a href="/" class="brand">Groselhas</a>
          <ul class="nav">
            <li><a href="/">Início</a></li>
            <li><a href="/arquivo.html">Arquivo</a></li>
            <li><a href="/sobre.html">Sobre</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="container">
      <div class="row">
        <div class="span11">
          <div class="content">
            {{ content }}
          </div>
        </div>
        <div class="span5">
          <div class="sidebar">
            <h2>Groselhas</h2>
            <p>É onde <a href="/sobre.html">Mauro George</a> fala sobre desenvolvimento web, PHP, CakePHP, Ruby, Rails, front-end, Git e o que mais for aprendendo ligado ao mundo de desenvolvimento de software.</p>
          </div>
        </div>
      </div>  
    <footer>
      <address><a href="http://creativecommons.org/licenses/by-nc/3.0/br/" rel="license"><img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" style="border-width:0" alt="Creative Commons License"></a><br> Groselhas está sob uma <a href="http://creativecommons.org/licenses/by-nc/3.0/br/" rel="license">Licença Creative Commons Atribuição-Uso Não-Comercial 3.0 Brazil</a>.</address>
    </footer>
    </section>
  </body>
</html>