---
layout: default
---
<article id="post">
  <div id="post-title-holder">
    <header id="post-title" class="wrapper">
    <h1><a href="{{ page.url }}" title="Post {{ page.title }}">{{ page.title }}</a></h1>
    <p>Criado em: {{ page.date | date: '%d/%m/%Y' }}</p>
    </header>
  </div>
  <div class="wrapper">
    {{ content }}
  </div>
</article>
<div id="comments"  class="wrapper">
  <h2>Comentários</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'groselhas'; // required: replace example with your forum shortname
      var disqus_identifier = '{{ page.url }}';
      var disqus_url = 'http://maurogeorge.github.com{{ page.url }}';
      var disqus_title = 'Post {{ page.title }}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Por favor habilite o JavaScript para ver os <a href="http://disqus.com/?ref_noscript">comentários powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">Comentários powered by <span class="logo-disqus">Disqus</span></a>
</div>
